@import 'src/assets/styles/statics';

.members-list-tile-view {
    padding: 5px 0;

    .members-list-tile-card {
        display: flex;
        cursor: pointer;
        height: 100%;
        background: inherit;

        &.filled {
            background: @tile-fill;
        }
        .ant-card-body {
            width: 100%;
        }

        .members-list-tile-content {
            display: flex;
            align-items: center;
            height: 100%;
            .members-list-tile-content-main {
                display: flex;
                width: 50%;

                .members-list-tile-content-main-avatar {
                    margin-right: 10px;

                    .ant-avatar-square {
                        border-radius: 4px;
                    }
                }

                .members-list-tile-content-main-info {
                    .members-list-tile-content-main-name {
                        font-weight: bold;
                    }
                    .members-list-tile-content-main-status {
                    }
                }
            }
            .members-list-tile-content-side {
                display: flex;
                justify-content: start;
                width: 50%;
                .members-list-tile-content-side-created-at {
                    width: 50%;
                    //padding-right: 24px;
                }
                .members-list-tile-content-side-country {
                    width: 50%;
                }
            }
        }

        .members-list-tile-button {
        }
    }
}
