.league-form {
    > form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .league-form-avatar-upload {
            //flex-grow: 1;
            margin-bottom: 0;
            margin-right: 24px;
            @media (max-width: 480px) {
                margin-right: 0;
            }
            .ant-upload-select-picture-card {
                height: 130px;
                width: 130px;
                border-radius: 8px;
                overflow: hidden;
            }
            .upload-button {
                .upload-button-label {
                    font-size: 12px;
                }
                .upload-button-icon {
                }
            }
        }
        .league-form-input-group {
            display: flex;
            //flex-wrap: wrap;
            flex-grow: 1;
            flex-direction: column;

            .league-form-name-input {
                width: 100%;
                //padding-right: 8px;
                .ant-form-item {
                    margin-bottom: 0;
                }
            }
            .league-form-start-time-input {
                width: 100%;
                .ant-form-item {
                    margin-bottom: 0;
                    .league-date-time-picker {
                        width: 100%;
                    }
                }
            }
        }
        .league-form-location-input {
            width: 100%;
            .ant-form-item {
                margin-bottom: 0;
            }
        }
        .league-form-members-input {
            width: 100%;
            .ant-form-item {
                margin-bottom: 0;
            }
        }
    }
}
