.member-app-layout-view {
    min-height: 100vh !important;

    .logo {
        color: white;
    }

    .member-app-sider-layout {
        background: rgba(19,115,204, 1) !important;
        .member-app-sider-layout-title {
            height: 32px;
            background: url(../../assets/images/tapir_white.png);
            background-size: cover;
            margin: 16px;
            display: flex;
            color: white;
            filter: invert(1);

            .member-app-sider-layout-title-text {
                align-content: end;
            }
        }
        .member-app-sider-layout-footer {
            width: 100%;
            position: absolute;
            bottom: 0;
            button {
                background: rgba(19,115,204, 1);
                color: #fff;
            }
        }
        .menu-item {
            display: flex;
            .menu-item-icon {
                span {
                    margin-right: 0;
                }
            }
            .menu-item-name {
                margin-left: 10px;
            }
        }
    }
}
