.member-app-layout-view {
    min-height: 100vh !important;

    .logo {
        color: white;
    }

    .sider-layout {
        .sider-layout-title {
            height: 32px;
            background: url(../../assets/images/tapir_white.png);
            background-size: cover;
            margin: 16px;
            display: flex;
            color: white;
            filter: invert(1);

            .sider-layout-title-text {
                align-content: end;
            }
        }
        .sider-layout-footer {
            width: 100%;
            position: absolute;
            bottom: 0;
            button {
                background: #3f3f3f;
                color: #fff;
            }
        }
    }
}
