.contest-completed {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .contest-completed-label {
        color: fade(@primary-color, 50%);
        margin-right: 16px;
    }
    .contest-completed-value {
        display: flex;
        .contest-completed-value-country-flag {
            width: 18px;
            padding-right: 4px;
        }
        .contest-completed-value-name {
            font-size: 12px;
            font-weight: bold;
        }
    }
}
