.contest-completed {
    margin-top: 16px;
    .contest-completed-value {
        display: flex;
        height: 30px;
        padding: 6px 12px;
        .contest-completed-value-country-flag {
            width: 18px;
            padding-right: 4px;
        }
        .contest-completed-value-name {
            font-size: 12px;
            font-weight: bold;
        }
    }
}
