.member-app-layout-view {
    min-height: 100vh !important;

    .logo {
        color: white;
    }
    .app-sider-layout {
        padding-bottom: 24px;
        .ant-layout-sider-children {
            .sider-layout-content {
                display: flex;
                flex-direction: column;
                .content-header {
                    padding: 88px 24px 24px 12px;
                }
                .content-body {
                    padding: 0 24px 0 12px;
                    flex-grow: 1;
                    overflow: auto;
                }
            }
            .component-content-content {
                &.spin {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 50px;
                }
            }
        }
    }
}
