.hole-score-info {
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 12px;
    .eagle {
        display: flex;
        align-items: center;
        padding-right: 12px;
        .icon {
            width: 6px;
            height: 6px;
            //margin: 10px;
            border-radius: 50%;
            border: 1px solid fade(@primary-color, 30%);
            box-shadow: 0 0 0 2px fade(@primary-color, 50%), 0 0 0 3px white,
                0 0 0 5px fade(@primary-color, 50%);
        }
        .text {
            padding-left: 8px;
            font-size: 10px;
        }
    }
    .birdie {
        display: flex;
        align-items: center;
        padding-right: 12px;
        .icon {
            width: 11px;
            height: 11px;
            //margin: 10px;
            border-radius: 50%;
            border: 1px solid fade(@primary-color, 30%);
            box-shadow: 0 0 0 2px fade(@primary-color, 50%);
        }
        .text {
            padding-left: 6px;
            font-size: 10px;
        }
    }
    .bogey {
        display: flex;
        align-items: center;
        padding-right: 12px;
        .icon {
            width: 11px;
            height: 11px;
            //margin: 10px;
            //border-radius: 50%;
            border: 1px solid fade(@primary-color, 30%);
            box-shadow: 0 0 0 2px fade(@primary-color, 50%);
        }
        .text {
            padding-left: 6px;
            font-size: 10px;
        }
    }
    .double-bogey {
        display: flex;
        align-items: center;
        padding-right: 12px;
        .icon {
            width: 6px;
            height: 6px;
            //margin: 10px;
            //border-radius: 50%;
            border: 1px solid fade(@primary-color, 30%);
            box-shadow: 0 0 0 2px fade(@primary-color, 50%), 0 0 0 3px white,
                0 0 0 5px fade(@primary-color, 50%);
        }
        .text {
            padding-left: 8px;
            font-size: 10px;
        }
    }
}
