.member-info-form {
    min-width: 576px;
    > form {
        display: flex;
        .member-info-form-avatar {
            margin-bottom: 0;
            margin-right: 24px;
            border-radius: 8px;
            overflow: hidden;
            border: 1px fade(@primary-color, 20%) dashed;
            min-height: 112px;
            min-width: 112px;
        }
        .member-info-form-input-group {
            display: flex;
            flex-wrap: wrap;
            flex-grow: 1;
            .float-label-input-wrapper {
                flex: 0 0 50%;
                .ant-form-item {
                    margin-bottom: 0;
                }
            }
            .member-info-form-username-input {
            }
            .member-info-form-email-input {
            }
            .member-info-form-display-name-input {
            }
            .member-info-form-country-input {
                .ant-form-item {
                    width: 24px;
                    svg {
                        padding: 20px 12px 4px 13px !important;
                    }
                }
            }
        }
    }
}
