.contest-leaderboard-table-position {
    display: flex;
    .contest-leaderboard-table-position-icon {
        padding-right: 2px;
        .contest-leaderboard-table-position-icon-up {
            color: green;
        }
        .contest-leaderboard-table-position-icon-down {
            color: red;
        }
    }
    .contest-leaderboard-table-position-rank {
        font-weight: bolder;
        color: #1064b2;
    }
}
