.auth-layout-view {
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-view {
    margin: 24px;
    padding: 24px;
    border-radius: 2px;
    background: white;
    width: 40vw;
    max-width: 512px;
    .ant-form {
        margin-bottom: 8px;
        .form-item-submit {
            margin-bottom: 0px;
            float: right;
        }
    }
}
