.account-form {
    > form {
        display: flex;
        flex-wrap: wrap;
        .account-form-avatar-upload {
            margin-bottom: 0;
            margin-right: 24px;
            //flex-grow: 1;
            .ant-upload-select-picture-card {
                height: 130px;
                width: 130px;
                border-radius: 8px;
                overflow: hidden;
            }
            .upload-button {
                .upload-button-label {
                    font-size: 12px;
                }
                .upload-button-icon {
                }
            }
        }
        .account-form-input-group {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            .account-form-username-input {
                width: 100%;
                //padding-right: 8px;
                .ant-form-item {
                    margin-bottom: 0;
                }
            }
            .account-form-email-input {
                width: 100%;
                .ant-form-item {
                    margin-bottom: 0;
                }
            }
        }
        .account-form-display-name-input {
            width: 100%;
            .ant-form-item {
                margin-bottom: 0;
            }
        }
        .account-form-country-input {
            width: 100%;
            .ant-form-item {
                margin-bottom: 0;
            }
        }
    }
}
