.member-form {
    width: 100%;
    > form {
        .member-form-email-input {
            width: 100%;
            //padding-right: 8px;
            .ant-form-item {
                margin-bottom: 0;
            }
        }
    }
}
