.notifications-list-tile-view {
    padding: 5px 0;

    .notifications-list-tile-card {
        display: flex;
        cursor: pointer;
        height: 100%;

        &:hover {
            background: #dadde2;
            opacity: 0.95;
        }
        display: flex;
        .notifications-list-tile-content {
            display: flex;
            padding-bottom: 10px;
            .notifications-list-tile-content-avatar {
                margin-right: 10px;
            }
            .notifications-list-tile-content-message {
                .unread {
                    font-weight: bold;
                }
            }
        }
        .notifications-list-tile-button {
        }
    }
}
