@import 'src/assets/styles/statics';

.notifications-list-tile-view {
    padding: 5px 0;

    .notifications-list-tile-card {
        display: flex;
        cursor: pointer;
        height: 100%;

        &.filled {
            background: @tile-fill;
        }

        display: flex;
        .notifications-list-tile-content {
            display: flex;
            padding-bottom: 10px;
            .notifications-list-tile-content-avatar {
                margin-right: 10px;
                .ant-avatar-square {
                    border-radius: 4px;
                }
            }
            .notifications-list-tile-content-message {
                .unread {
                    font-weight: bold;
                }
            }
        }
        .notifications-list-tile-button {
        }
    }
}
