.content-layout-content {
    &.members-view {
        margin-top: 16px;
    }
    .members-view {
        .members-page-user {
            display: flex;
            .members-page-user-info {
                display: flex;
                flex-direction: column;
                margin-left: 10px;
                .members-page-user-name {
                }
            }
        }
    }
}
