.members-view {
    .members {
        margin-top: 16px;
    }
    .members-page-user {
        display: flex;
        .members-page-user-info {
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            .members-page-user-name {
            }
        }
    }
}
