.contest-start {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .contest-start-label {
        color: fade(@primary-color, 50%);
        margin-right: 16px;
    }
    .contest-start-value {
        font-size: 12px;
        font-weight: bold;
    }
}
