.league-view {
  .league-page-user {
    display: flex;
    .league-page-user-info {
      display:flex;
      flex-direction: column;
      margin-left: 10px;
      .league-page-user-name {

      }
    }
  }
}
