.link-button-wrapper {
    display: flex;
    align-items: center;
    .link-button {
        padding-left: 4px;
        //padding-top: 0;
        //padding-bottom: 0;
    }
    .link-button-text {
        &.hidden {
            display: none;
        }
        color: fade(@primary-color, 70%);
        padding-left: 4px;
    }
}
