.member-view {
    .member-page-user {
        display: flex;
        .member-page-user-info {
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            .member-page-user-name {
            }
        }
    }
}
