.member-view {
    height: 100%;
    display: flex;
    flex-direction: column;
    .member-page-user {
        display: flex;
        .member-page-user-info {
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            .member-page-user-name {
            }
        }
    }
}
.content-layout-content {
    &.member-view {
        margin-top: 16px;
    }
}
