.leaderboard-active {
    .leaderboard-active-label {
        color: fade(@primary-color, 50%);
    }

    .leaderboard-active-content {
        display: flex;
        align-items: center;
        .leaderboard-active-content-avatar {
            padding-right: 10px;
        }
        .leaderboard-active-content-stack {
            .leaderboard-active-content-name {
                font-weight: bold;
            }
            .leaderboard-active-content-score {
                color: @primary-color;
            }
        }
    }
}

.leaderboard-completed {
    .leaderboard-completed-label {
        color: fade(@primary-color, 50%);
    }

    .leaderboard-completed-content {
    }
}
