.contest-form {
    .contest-form-avatar-upload {
        .ant-upload-select-picture-card {
            border-radius: 8px;
            overflow: hidden;
        }
        .upload-button {
            .upload-button-label {
                font-size: 12px;
            }
            .upload-button-icon {
            }
        }
    }
}
