.header-title {
    .header-title-name {
        font-size: 16px;
        line-height: 1;
    }
    .header-title-username {
        font-size: 14px;
        line-height: 1;
        color: fade(@primary-color, 50%);
    }
}
