.app-nav-header {
    display: flex;
    justify-content: space-between;
    padding: 0 !important;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 64px;
    max-height: 64px;
    overflow: hidden;
    background: fade(white, 25%) !important;
    backdrop-filter: blur(6px) !important;
    box-shadow: 0 0 1rem 0 fade(@primary-color, 20%) !important;
    .app-nav-title {
        cursor: pointer;
        height: 32px;
        background: url(../../../assets/images/tapir_white.png);
        background-size: cover;
        margin: 16px;
        display: flex;
        width: 165px;
        min-width: 165px;
        //.app-sider-layout-title-text {
        //    align-content: end;
        //}
    }
    .app-nav-menu {
        background: transparent !important;
        color: @text-color !important;
        width: 100%;
        display: flex !important;
        justify-content: center;
    }
    .menu-item {
        display: flex !important;
        align-items: center;
        padding: 0 32px !important;
        &.ant-menu-item-selected {
            border-bottom: 2px solid fade(@primary-color, 30%) !important;
        }
        &.ant-menu-item-active {
            border-bottom: 2px solid fade(@primary-color, 20%) !important;
        }
        &.ant-menu-item-disabled {
            color: fade(@primary-color, 30%) !important;
        }
        .menu-item-icon {
            //padding-left: 4px;
            span {
                font-size: 20px;
                margin-right: 0;
            }
            .ant-badge {
                color: inherit;
            }
        }
        .menu-item-name {
            //padding-right: 4px;
            margin-left: 10px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    .app-nav-extra {
        width: 350px;
        min-width: 350px;
        padding: 0 12px;
    }
}
