.header-extra {
    display: flex;
    margin: 0;
    .header-extra-notification {
        .notification-button {
            height: 24px;
            width: 24px;
        }
    }
    .header-extra-drop-down {
        .drop-down-button {
            height: 24px;
            width: 24px;
        }
    }
}
.header-extra-username {
    font-size: 14px;
    line-height: 1;
    color: fade(@primary-color, 50%);
    font-weight: bold;
}
