.contests-list {
    margin-top: 8px;
    .contest-item {
        font-size: 12px;
        .contest-item-name {
            font-weight: bold;
        }
        .contest-item-date {
        }
    }
}
