.contests-list {
    margin-top: 16px;

    .contest-item {
        display: flex;
        font-size: 12px;
        padding-bottom: 8px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .contest-item-badge {
        }
        .contest-item-name {
            font-weight: bold;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .contest-item-date {
            margin-left: auto;
            width: 24%;
        }
    }
}
