.home-page-view {
  .home-page-user {
    display: flex;
    .home-page-user-info {
      display:flex;
      flex-direction: column;
      margin-left: 10px;
      .home-page-user-name {

      }
    }
  }
}
