.header-extra {
    margin: 5px;
    .ant-steps-item-process
        .ant-steps-item-icon
        > .ant-steps-icon
        .ant-steps-icon-dot {
        background: rgba(19, 115, 204, 1);
    }

    .ant-steps-item-finish
        .ant-steps-item-icon
        > .ant-steps-icon
        .ant-steps-icon-dot {
        background: rgba(19, 115, 204, 1);
    }

    .ant-steps-item-finish
        > .ant-steps-item-container
        > .ant-steps-item-tail::after {
        background: rgba(19, 115, 204, 1);
    }
}
