@import 'src/assets/styles/statics';

.competitors-list-tile-view {
    padding: 5px 0;

    .competitors-list-tile-card {
        display: flex;
        cursor: pointer;
        height: 100%;

        &.filled {
            background: @tile-fill;
        }
        .ant-card-body {
            width: 100%;
        }

        .competitors-list-tile-content {
            display: flex;
            align-items: center;
            height: 100%;
            .competitors-list-tile-content-main {
                display: flex;
                width: 50%;

                .competitors-list-tile-content-main-avatar {
                    margin-right: 10px;

                    .ant-avatar-square {
                        border-radius: 4px;
                    }
                }

                .competitors-list-tile-content-main-info {
                    .competitors-list-tile-content-main-name {
                        font-weight: bold;
                    }
                    .competitors-list-tile-content-main-status {
                    }
                }
            }
            .competitors-list-tile-content-side {
                display: flex;
                justify-content: start;
                width: 50%;
                .competitors-list-tile-content-side-country {
                    width: 33%;
                    //padding-right: 24px;
                }

                .competitors-list-tile-content-side-wins,
                .competitors-list-tile-content-side-events {
                    width: 33%;
                }
            }
        }

        .competitors-list-tile-button {
        }
    }
}
