@import 'src/assets/styles/statics';

.competitors-list-tile-view {
    padding: 5px 0;

    .competitors-list-tile-card {
        display: flex;
        cursor: pointer;
        height: 100%;

        &.filled {
            background: @tile-fill;
        }
        .ant-card-body {
            width: 100%;
        }

        .competitors-list-tile-content {
            display: flex;
            padding-bottom: 10px;

            .competitors-list-tile-content-avatar {
                margin-right: 10px;
            }

            .competitors-list-tile-content-info {
                .competitors-list-tile-content-name {
                }
            }

            .competitors-list-tile-content-leaderboard {
                margin-left: auto;
            }
        }

        .competitors-list-tile-button {
        }
    }
}
