.user-tile-extra {
    display: flex;
    margin: 0;
    .user-tile-extra-notification {
        .notification-button {
            height: 24px;
            width: 24px;
        }
    }
    .user-tile-extra-drop-down {
        .drop-down-button {
            height: 24px;
            width: 24px;
        }
    }
}
.user-tile-extra-popover {
    max-width: 300px;
    .user-tile-extra-username {
        font-size: 14px;
        line-height: 1;
        color: fade(@primary-color, 50%);
        font-weight: bold;
    }
    .user-tile-extra-league {
        display: flex;
        .user-tile-extra-league-avatar {
            border-radius: 4px;
        }
        .user-tile-extra-league-name {
            padding-left: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .user-tile-extra-league-selected {
            color: @primary-color;
            padding-left: 12px;
            width: 20px;
        }
    }
}
