@import '/src/assets/styles/global';

.contest-scorecard-input {
    .contest-scorecard-input-strokes {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 50px;
        padding: 6px 12px;

        .contest-scorecard-input-strokes-label {
            color: fade(@primary-color, 50%);
            font-size: 12px;
            margin-right: 16px;
        }
        .contest-scorecard-input-strokes-form {
            display: flex;
            .contest-scorecard-input-strokes-value {
                display: flex;
                align-items: center;
                font-size: 12px;
                padding: 0 8px;
                font-weight: bold;
            }
            .contest-scorecard-input-strokes-up {
                font-size: 18px;
                cursor: pointer;
                line-height: 1.5em;
            }

            .contest-scorecard-input-strokes-down {
                font-size: 18px;
                cursor: pointer;
                line-height: 1.5em;
            }
        }
    }
}
