.sider-layout-background {
    .ant-page-header-heading-subtitle {
        margin-right: 0;
    }
}
.header-subtitle {
    .header-subtitle-balance {
        font-size: 16px;
        line-height: 1;
        max-width: 160px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 6px;
        font-weight: bold;
        .header-subtitle-balance-icon {
            margin-right: 4px;
        }
    }
}
