.app-spinner {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    background: hsla(277, 79%, 84%, 1);

    background: linear-gradient(
        90deg,
        hsla(277, 79%, 84%, 1) 0%,
        hsla(204, 95%, 77%, 1) 100%
    );

    background: -moz-linear-gradient(
        90deg,
        hsla(277, 79%, 84%, 1) 0%,
        hsla(204, 95%, 77%, 1) 100%
    );

    background: -webkit-linear-gradient(
        90deg,
        hsla(277, 79%, 84%, 1) 0%,
        hsla(204, 95%, 77%, 1) 100%
    );
    .app-logo {
        position: absolute;
        background: url(../../assets/images/tapir.png) no-repeat center;
        background-size: cover;
        height: 66px;
        width: 100px;
    }
    #loading {
        display: inline-block;
        width: 200px;
        height: 200px;
        border: 1px solid transparent;
        box-shadow: 0 0 1rem 0 fade(@primary-color, 20%);
        background-color: fade(white, 10%);
        border-radius: 50%;
        border-top-color: #fff;
        animation: spin 1s ease-in-out infinite;
        -webkit-animation: spin 1s ease-in-out infinite;
    }

    @keyframes spin {
        to {
            -webkit-transform: rotate(360deg);
        }
    }
    @-webkit-keyframes spin {
        to {
            -webkit-transform: rotate(360deg);
        }
    }
}
