.member-stats {
    display: flex;
    justify-content: space-around;
    .member-stats-wins {
        width: 100%;
    }
    .member-stats-win-percentage {
        margin: 0 16px;
        width: 100%;
    }
    .member-stats-winnings {
        width: 100%;
    }
}
