.content-layout {
    max-height: 100vh;
    overflow: hidden;
    .content-layout-background {
        .content-layout-header > div {
            background: white;
        }
        .content-layout-content > div {
            background: white;
        }
    }
    .sider-layout-background {
        .sider-layout-header > div {
            background: white;
        }
        .sider-layout-content > div {
            background: white;
        }
    }

    .content-layout-header {
        .ant-page-header-heading-sub-title {
            color: fade(@primary-color, 50%);
        }
    }
    .content-layout-content {
        padding: 24px 12px 24px 24px;
        overflow: auto;
    }

    .sider-layout {
        background: none;
        height: 100vh;
        .ant-layout-sider-children {
            display: flex;
            flex-direction: column;
            .sider-layout-header {
                padding: 24px 24px 12px 12px;
            }
            .sider-layout-content {
                padding: 12px 24px 24px 12px;
                overflow: auto;
            }
        }
    }

    // nice soft shadow boxies
    .content-layout-header,
    .content-layout-content,
    .sider-layout-header,
    .sider-layout-content {
        > div {
            padding: 16px;
            border-radius: 4px;
            box-shadow: 0 0 15px 5px fade(@primary-color, 5%);
        }
    }
}
.footer {
    text-align: center;
}
