.content-layout {
    max-height: 100vh;
    overflow: hidden;
    .content-layout-background {
        .content-layout-header {
            .component-content {
                box-shadow: 0 0 1rem 0 fade(@primary-color, 20%);
                border-radius: 5px;
                background-color: fade(white, 25%);
                //backdrop-filter: blur(5px);
            }
        }
        .content-layout-main {
            min-height: 100vh;
            @media (max-width: 991px) { // TODO: this is a backup plan as it does not look very nice from a transition stand point
                min-width: 100vw;
            }
        }
        .content-layout-content {
            .component-content {
                box-shadow: 0 0 1rem 0 fade(@primary-color, 20%);
                border-radius: 5px;
                background-color: fade(white, 25%);
                //backdrop-filter: blur(5px);
            }
        }
    }
    .sider-layout-background {
        .sider-layout-header {
            .component-content {
                box-shadow: 0 0 1rem 0 fade(@primary-color, 20%);
                border-radius: 5px;
                background-color: fade(white, 25%);
                //backdrop-filter: blur(5px);
            }
        }
        .sider-layout-content {
            .component-content {
                box-shadow: 0 0 1rem 0 fade(@primary-color, 20%);
                border-radius: 5px;
                background-color: fade(white, 25%);
                //backdrop-filter: blur(5px);
            }
        }
    }

    .content-layout-header {
        .ant-page-header-heading-sub-title {
            color: fade(@primary-color, 50%);
        }
    }
    .content-layout-content {
        padding: 88px 12px 24px 24px;
        overflow: auto;
        @media (max-width: 991px) {
            padding: 76px 12px 12px 12px;
        }
    }

    .sider-layout {
        background: none;
        height: 100vh;
        .ant-layout-sider-children {
            display: flex;
            flex-direction: column;
            .sider-layout-header {
            }
            .sider-layout-content {
                .component-content {
                }
            }
        }
    }

    // nice soft shadow boxies
    .content-layout-header,
    .content-layout-content,
    .sider-layout-header,
    .sider-layout-content {
        .component-content {
            padding: 16px;
            border-radius: 4px;
            //box-shadow: 0 0 15px 5px fade(@primary-color, 5%);
        }
    }
}
.footer {
    text-align: center;
}
