.content-layout {
    max-height: 100vh;
    overflow: hidden;
    .content-layout-background {
        background: white;
        min-height: 100%;
    }
    .content-layout-content {
        margin: 16px;
        overflow: scroll;
        .content-layout-children {
            padding: 24px;
        }
    }
}
.footer {
    text-align: center;
}
