.sider-layout-background {
    .ant-page-header-heading-title {
        margin-right: 0;
    }
}
.header-title {
    .header-title-balance {
        font-size: 16px;
        line-height: 1;
        max-width: 160px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 6px;
        .header-title-balance-icon {
            margin-right: 4px;
        }
    }
    .header-title-label {
        font-size: 12px;
        line-height: 1;
        color: fade(@primary-color, 50%);
    }
}
