.table-wrap {
    display: block;
    max-width: 100%;
    .tr {
        &.cell {
            height: 75px;
            border-bottom: 1px solid #f0f0f0;
        }
    }
}

.contest-leaderboard-table-table {
    border: #f0f0f0 1px solid;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);

    .contest-leaderboard-table-header {
        background: #333333;
        color: rgba(255, 255, 255, 0.65);
        font-weight: bold;
        height: 50px;
    }
}

//.contest-leaderboard-table-table {
//    .contest-leaderboard-table-header {
//        background: #333333;
//        border-radius: 4px 4px 0 0;
//        color: rgba(255, 255, 255, 0.85);
//        font-weight: bold;
//        height: 60px;
//    }
//}
