@import 'src/assets/styles/statics';
.table-wrap {
    display: block;
    max-width: 100%;

    .contest-leaderboard-table-table {
        border-radius: 4px;
        overflow: hidden;
        min-width: unset !important;

        .contest-leaderboard-table-header {
            font-weight: 600;
            color: fade(@primary-color, 50%);
            font-size: 12px;
        }
        .contest-leaderboard-table-body {
            .tr {
                &.cell {
                    height: 50px;
                    align-items: center;
                    //border-bottom: 1px solid @table-border;
                }
                &.expand {
                    //overflow: hidden;
                }
            }
        }
        .tr-group:nth-child(even) .cell {
            background: @tile-fill;
        }
    }
}
