.calendar-component-content {
    margin-top: 16px;
    .calendar {
        font-size: 12px;
        table,
        tr {
            border-bottom: none;
        }
        .calendar-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .header-button {
                padding: 4px;
            }
            .calendar-header-left-buttons {
            }
            .calendar-header-right-buttons {
            }
            .calendar-header-selectors {
            }
        }
        .ant-picker-cell {
            padding: 4px 0;
            .ant-picker-calendar-date-content {
                //height: 4px;
                position: absolute;
                margin-top: 3px;
                width: 100%;
                .ant-badge {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
    .list {
        max-height: 90px;
        overflow: auto;
    }
}
