.component-content {
    display: flex;
    flex-direction: column;
    .component-content-header {
        display: flex;
        .component-content-title {
            flex: 1;
            font-weight: bold;
            font-size: 12px;
            border-bottom: 1px fade(@primary-color, 5%) solid;
            padding: 6px;
        }
        .component-content-extra {
            border-bottom: 1px fade(@primary-color, 5%) solid;
            padding: 6px;
        }
    }
    .component-content-content {
        flex-grow: 1;
        margin-top: 6px;
        &.spin {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &.sider-component-content {
        @media (max-width: 991px) {
            margin-top: 24px;
        }
    }
    &.space {
        margin-top: 24px;
    }
}
