.component-content {
    display: flex;
    flex-direction: column;
    .component-content-title {
        border-bottom: 1px fade(@primary-color, 5%) solid;
        padding: 6px;
        font-weight: bold;
        font-size: 12px;
    }
    .component-content-content {
        height: 100%;
        margin-top: 6px;
        &.spin {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 50px;
        }
    }
    &.space {
        margin-top: 24px;
    }
}
