.wins {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;

  .wins-label {
    color: fade(@primary-color, 50%);
    margin-right: 16px;
  }
  .wins-value {
    font-size: 12px;
    font-weight: bold;
  }
}
