.contest-leaderboard-table-participant {
    display: flex;
    align-items: center;
    cursor: pointer;
    .contest-participants-table-participant-name {
        font-weight: bold;
    }
    .contest-participants-table-participant-tags {
        margin-left: 12px;
    }
    //.contest-participants-table-participant-avatar {
    //    margin-right: 10px;
    //}
}
