.contest-leaderboard-table-participant {
    display: flex;
    cursor: pointer;
    .contest-participants-table-participant-name {
        //color: #1581e5;
        font-weight: bold;
    }
    .contest-participants-table-participant-avatar {
        margin-right: 10px;
    }
}
