.contest-title {
    .contest-title-time {
        font-size: 16px;
        opacity: 0.4;
    }
}
.contest-subscription {
    .subscription-toggle {
    }
}
.contest-actions {
    margin-bottom: 40px;
}
.contest-view {
    .contest-participants-table {
        margin-bottom: 40px;
    }
    .contest-leaders-table {
        margin-bottom: 40px;
    }
}
