.contest-title {
    .contest-title-time {
        font-size: 16px;
        opacity: 0.4;
    }
}
.contest-sub-title {
    .contest-sub-title-subscription {
        .subscription-toggle {
        }
    }
}
.contest-actions {
    margin-bottom: 40px;
}
.contest-view {
    .contest-leaderboard {
        overflow: auto;
    }
}
