.contest-title {
    .contest-title-time {
        font-size: 16px;
        opacity: 0.4;
    }
}
.contest-sub-title {
    .contest-sub-title-subscription {
        .subscription-toggle {
        }
    }
}
.contest-actions {
    margin-bottom: 40px;
}

.content-layout-content {
    &.contest-view {
        margin-top: 16px;
        .contest-leaderboard {
            margin-top: 16px;
            overflow: auto;
        }
    }
}
