.league-info-form {
    min-width: 576px;
    > form {
        display: flex;
        .league-info-form-avatar {
            margin-bottom: 0;
            margin-right: 24px;
            border-radius: 8px;
            overflow: hidden;
            border: 1px fade(@primary-color, 20%) dashed;
            min-height: 112px;
            min-width: 112px;
        }
        .league-info-form-input-group {
            display: flex;
            flex-wrap: wrap;
            flex-grow: 1;
            .float-label-input-wrapper {
                flex: 0 0 50%;
                .ant-form-item {
                    margin-bottom: 0;
                }
            }
            .league-info-form-username-input {
            }
            .league-info-form-status-input {
                .ant-form-item {
                    .ant-input-prefix {
                        margin-right: 0;
                    }
                    .ant-input {
                        padding-left: 0 !important;
                    }
                }
            }
            .league-info-form-name-input {
            }
            .league-info-form-created-at-input {
            }
        }
    }
}
