.auth-layout-view {
    min-height: 100vh !important;

    .logo {
        color: white;
    }

    .auth-layout-title {
        background: url(../../assets/images/tapir_white.png);
        height: 50px;
        width: 275px;
        background-size: cover;
    }
    .content-view {
        // this is the same as ContentLayout.less, see if there is a way to combine these
        box-shadow: 0 0 1rem 0 fade(@primary-color, 20%);
        border-radius: 5px;
        background-color: fade(white, 25%);
        //backdrop-filter: blur(5px);
    }
}
