@import 'src/assets/styles/statics';

.member-results-list-tile-view {
    .member-results-list-tile-card {
        display: flex;
        cursor: pointer;
        height: 100%;

        &.filled {
            background: @tile-fill;
        }
        .ant-card-body {
            width: 100%;
        }

        .member-results-list-tile-content {
            display: flex;
            padding-bottom: 10px;

            .member-results-list-tile-content-avatar {
                margin-right: 10px;
                .ant-avatar-square {
                    border-radius: 4px;
                }
            }

            .member-results-list-tile-content-info {
                .member-results-list-tile-content-name {
                }

                .member-results-list-tile-content-status {
                }
            }

            .member-results-list-tile-content-leaderboard {
                margin-left: auto;
            }
        }

        .member-results-list-tile-button {
        }
    }
}
