.sider-layout-background {
    .ant-page-header-heading-title {
        margin-right: 0;
    }
}
.header-title {
    .header-title-name {
        font-size: 16px;
        line-height: 1;
        max-width: 160px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .header-title-username {
        font-size: 14px;
        line-height: 1;
        color: fade(@primary-color, 50%);
    }
}
