.competitor-page-view {
  .competitor-page-user {
    display: flex;
    .competitor-page-user-info {
      display:flex;
      flex-direction: column;
      margin-left: 10px;
      .competitor-page-user-name {

      }
    }
  }
}
