.competitors-page-view {
  .competitors-page-user {
    display: flex;
    .competitors-page-user-info {
      display:flex;
      flex-direction: column;
      margin-left: 10px;
      .competitors-page-user-name {

      }
    }
  }
}
