.component-content .component-content-header .component-content-extra {
  padding: 4px;
  .payout-proportions-extra {
    display: flex;
    .payout-proportions-extra-refresh {
      //margin-right: 8px;
      .refresh-button {
        &.disabled {
          cursor: not-allowed;
          color: fade(@primary-color, 25%);
        }
      }
    }
  }
}
