.contest-leaderboard {
    display: block;
    max-width: 100%;
    .expander {
        width: 2.5% !important;
    }
    .pos {
        width: 2.5% !important;
    }
    .participant {
        width: 75% !important;
    }
    .score {
        width: 10% !important;
    }
    .strokes {
        width: 10% !important;;
    }
}
