.contest-leaderboard {
    display: block;
    max-width: 100%;
    .expander {
        width: 5% !important;
    }
    .pos {
        width: 10% !important;
    }
    .participant {
        width: 65% !important;
    }
    .score {
        width: 10% !important;
        &.td {
            font-weight: bold;
        }
    }
    .strokes {
        width: 10% !important;
    }
}
