.course-form {
    > form {
        display: flex;
        flex-wrap: wrap;
        .course-form-name-input {
            width: 100%;
            .ant-form-item {
                margin-bottom: 0;
            }
        }
        .course-form-line-1-input {
            width: 100%;
            .ant-form-item {
                margin-bottom: 0;
            }
        }
        .course-form-line-2-input {
            width: 100%;
            .ant-form-item {
                margin-bottom: 0;
            }
        }
        .course-form-city-input {
            width: 100%;
            .ant-form-item {
                margin-bottom: 0;
            }
        }
        .course-form-province-input {
            width: 100%;
            .ant-form-item {
                margin-bottom: 0;
            }
        }
        .course-form-country-input {
            width: 100%;
            .ant-form-item {
                margin-bottom: 0;
            }
        }
        .course-dynamic-hole-input {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .course-form-input-group {
                display: flex;
                flex-grow: 1;

                .course-form-par-input {
                    width: 100%;
                    flex: 0 50%;
                    padding-right: 8px;

                    .ant-form-item {
                        margin-bottom: 0;

                        .course-par-input {
                            width: 100%;
                        }
                    }
                }

                .course-form-distance-input {
                    width: 100%;
                    flex: 0 50%;

                    .ant-form-item {
                        margin-bottom: 0;

                        .course-distance-input {
                            width: 100%;
                        }
                    }
                }
            }
            .course-form-hole-dynamic-input-buttons {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
