.contestMatchup-page-view {
  .contestMatchup-page-user {
    display: flex;
    .contestMatchup-page-user-info {
      display:flex;
      flex-direction: column;
      margin-left: 10px;
      .contestMatchup-page-user-name {

      }
    }
  }
}
