.upload-avatar {
    position: relative;
    cursor: default;
    .upload-avatar-mask {
        display: none;
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .upload-avatar-buttons {
        display: none;
        position: absolute;
        height: 100%;
        width: 100%;
        .upload-avatar-button {
        }
    }
    &:hover {
        .upload-avatar-mask {
            display: block;
            background: rgba(0, 0, 0, 0.6);
            cursor: none;
        }
        .upload-avatar-buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }
    }
}
