.winnings {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    height: 30px;
    padding: 6px 12px;
    font-size: 12px;

    .winnings-label {
        color: fade(@primary-color, 50%);
        margin-right: 16px;
        width: 80%;
    }
    .winnings-value {
        font-weight: bold;
        width: 20%;
    }
}
