// Colours
.ant-layout {
    background: fade(#e6f7ff, 20%) !important;
}
.ant-layout-footer {
    background: fade(#e6f7ff, 20%) !important;
}

@table-border: fade(@primary-color, 10%);
@tile-fill: fade(@primary-color, 5%);
