.contest-scorecard {
    .contest-scorecard-strokes-plus {
        font-size: 16px;
        cursor: pointer;
        padding: 5px;
    }

    .contest-scorecard-strokes-minus {
        font-size: 16px;
        cursor: pointer;
        padding: 5px;
    }
}
