.search-select-input-wrapper {
    display: flex;
    .search-select-input {
        width: 100%;
    }
    .ant-select-selection-item {
        .member-tile {
            padding: 0;
        }
    }
    .invite-button {
        width: 46px;
    }
}
.search-select-input-new-invite {
    border-top: 1px solid fade(@primary-color, 10%);
}
