@import 'src/assets/styles/global';

.contest-leaderboard-table-scorecard {
    height: 175px;
    width: 100%;
    tr {
        &.filled {
            background: @tile-fill;
        }
        td {
            &.head {
                font-weight: bold;
            }
        }
    }
}
