.contest-scorecard-input-component {
    margin-top: 16px;
}
.contest-scorecard-hole-component {
    margin-top: 16px;
}
.contest-buttons {
    margin-top: 16px;
}
.pending-participants {
    margin-top: 16px;
}
